<h1><%= t(:articles_head) %></h1>

<%= render partial: "article_list", layout: "layouts/article_list_layout", collection: @articles, as: :article,
           spacer_template: "spacer_partial" %>

<%= link_to t(:create_new_article), new_article_path %>
